.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  text-align: center;
}

.error-container mat-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  color: #f44336;
  margin-bottom: 16px;
}

.error-container h2 {
  margin-bottom: 24px;
  color: #666;
}
